
.font{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;  
}
header{
    height: 90px;
}

body{

    font-size: 15px;
    background-color: #03045E;
    max-height: max-content;
}

main{
    background-image:url(../img/moon.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
nav {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    border:50px;
    justify-content: space-around;
    font-size: medium;
    margin: 20px;
    border: 30px;
    padding: 40px;
}


a:hover{
        color: white;
        background-color:#0078B7;
        background-size: 5rem;
    }

a:visited{
        text-decoration: none;
        text-transform: none;
    }
    

footer{
    color: white;
    background-size: 5rem;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    height: 20px; 
}

a{
color: white;
list-style: none;
text-decoration: none;
background-color:#03045E;
font-size: 20px;
}
h1, p, a{
    z-index: 2;
}
.caja{
    background-color: rgb(0, 255, 255,0.2);
    text-align: center;
    border:5px solid #03045E ;
    
}

.index{
font-size: 1.3em;
}

legend{
    color: black;
    text-align: center;
    font: bold

}
fieldset{
    border-radius: 5px;
    border-color: #03045E;
}
.formulari{
    background-color: rgb(0, 255, 255, 0.2);
    text-align: center;
}

input{
    background-color: aqua;
    flex-direction: column;
    flex: auto;
    border-radius: 5px;
    border-color: #03045E;
}


input [type=text]{
    background-color: gray;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    height: auto;
    width: auto;
}

